.novela-dialog[open] {
	display: grid;
	place-content: center;
	gap: 32px;
	width: 100%;
	max-width: 100svw;
	height: 100%;
	max-height: 100svh;
	margin: 0;
	inset: 0;
	outline: none;

	& h1 {
		text-align: center;
	}
}

.novela-cerrar {
	position: absolute;
	top: 32px;
	right: 32px;
	z-index: 10;
}
