.carta-imagen {
	display: flex;
	gap: 32px;
	padding: 16px;
	border-radius: 16px;
	outline: 1px solid gray;

	& img {
		max-width: 320px;
	}
}

.imagen-contenedor {
	position: relative;

	.imagen-cargador {
		position: absolute;
		display: grid;
		place-content: center;
		inset: 0;
		pointer-events: none;
	}
}
